@font-face {
    font-family: 'MiFuenteLatoThin';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.container1 {
    display: flex;
    justify-content: flex-end;
    margin-inline: 20%;
    margin-block: 2%;
}
.menuContainer {
    height: 4rem;
    background-color: rgb(69, 82, 202);
    display: flex;
    justify-content: space-between ;
    align-items: center; /* Esto alinea los elementos verticalmente en el centro */
}
.container2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20%
}
.textMenu{
    font-family: 'MiFuenteLatoThin';
    margin-left: 2rem;
    font-size: 20px;
    font-weight: 0;

}
/* ok */
.header {
    background-size: cover;
    background-position: 50%;
    padding: 1rem;
}

.barraandiconuser {
    display: flex;
}

.barra {
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.iniciarsesion {
    display: flex;
    width: 75%;

}

.linkiniciarsesion {
    float: right;
}

.linkiniciarsesion a:hover {
    color: blue;
}


.navegacion {
    margin-top: 5rem;
    margin-left: 1rem;
    display: flex;
    gap: 2rem;
}

.inputbuscador {
    width: 2rem;
    height: 2rem;
    padding: 10px;
    border: none;
    color: rgb(44, 44, 44);
    background-color: white;
    border-radius: 1px;
}
.linklink {
    font-size: 18px;
}
.linklink:hover {
    color: rgb(12, 12, 12);
}

@media (min-width: 769px) {
    .navegacion {
        margin-top: 0;
    }

    .barraandiconuser {
        display: flex;
    }
}

.navegacion a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 550;
    padding: .5rem;
    transition-property: backgroung-color;
    transition-duration: 0.3s;
}

.navegacion a:hover {
    color: rgb(73, 132, 241);
}

.divdivbuscador {
    width: 80%;
    display: flex;
    margin-right: 6rem;
    justify-content: flex-end;
    margin-left: 1rem;
}

.divbuscador input {
    width: 16rem;
    height: 2rem;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.divbuscador input::-webkit-inner-spin-button,
.divbuscador input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (min-width:769px) {
    .divmenu{
        visibility: hidden;
        pointer-events: none;
    }
}

@media (max-width:769px) {
    .menuContainer {
      height: 3rem;
    }

    .container1 {
        margin-inline: 5%;
        margin-block: 1%;
    }

    .container2 {
        flex-direction: column;
        gap: 10%
    }

    .barraandiconuser {
       opacity: 0;
       pointer-events: none;
    }
    .container1 {
        opacity: 0;
        pointer-events: none;
    }

    .iniciarsesion {
        width: 100%;
    }

    .divbuscador {
        height: 10px;
        border-radius: 2px;
        width: 100%;
    }
    .divbuscador input {
        width: 120px;
        height: 15px;
        border: none;
        border-radius: 1px;
    }
    .linklink a{
        font-size: 5px;
    }
    .barraandiconuser {
        width: 10px;
    }
}

/* navbar */
/* Navbar.module.css */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:5px ;
    margin-right: 10rem;
    color: #070707;
  }
  .divmenu{
    display: flex;
  }
  
  .logo {
    margin-left: 6px;
    font-size: 1.5rem;
  }
  
  .menu {
    position: relative;
  }
  
  .menu button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .dropdownContent {
    width: 600%;
    font-size: 11px;
    font-family: 'MiFuenteLatoThin';
    margin-top: 10px;
    border-radius: 1px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fcfbfb;
    box-shadow: 0 2px 5px rgba(78, 77, 77, 0.2);
  }

  .dropdownContent input {
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
  }
  .dropdownContent a {
    margin: 3px;
    display: block;
    width: 97%;
    text-decoration: none;
    color: #1a1919;
  }

  .dropdownContent a:hover {
    background-color: #cccaca;
  }
  
  .menu.open .dropdownContent {
    display: block;
  }