.header {
    /* background-image: linear-gradient(to right, rgb(0 0 0 / .8), rgb(0 0 0 / .5)), url(/images/banner.jpg); */
    background-size: cover;
    background-position: 50%;
    background-color: rgb(12, 12, 12);
    padding: 1rem;
}

.barraandiconuser {
    display: flex;
}

.barra {
    padding-left: 1rem;
    display: flex;
    align-items: center;
}
.iniciarsesion {
    display: flex;
    width: 75%;
    
}
.linkiniciarsesion{
    float: right;
}
.linkiniciarsesion a:hover{
    color: blue;
}


.navegacion {
    margin-top: 5rem;
    margin-left: 1rem;
    display: flex;
    gap: 2rem;
}

@media (min-width: 769px) {
    .navegacion {
        margin-top: 0;
    }
    .barraandiconuser {
        display: flex;
    }
}

.navegacion a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 550;
    padding: .5rem;
    transition-property: backgroung-color;
    transition-duration: 0.3s;
}

.navegacion a:hover {
    color: rgb(73, 132, 241);
}
.divdivbuscador {
    width: 80%;
    display: flex;
    margin-right: 6rem;
    justify-content: flex-end;
    margin-left: 1rem;
}
.divbuscador input{
    width: 16rem;
    height: 2rem;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
.divbuscador input::-webkit-inner-spin-button,
.divbuscador input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width:769px) {
    .barra {
        display: flex;
    }
    .barraandiconuser {
        display: block;
    }
    .iniciarsesion {
        justify-content: center;
        align-items: center;
    }
    .inputbuscador {
        width: 2rem;
    }
    .divbuscador {
        width: 11rem;
    }
}


