.container1 {
    display: flex;
    justify-content: flex-end;
    margin-inline: 20%;
    margin-block: 2%;
}
.menuContainer {
    height: 5rem;
    background-color: rgb(69, 82, 202);
    display: flex;
    justify-content: space-between ;
    align-items: center; /* Esto alinea los elementos verticalmente en el centro */
}
.container2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20%
}
.textMenu{
    margin-left: 2rem;
    font-size: 20px;
    font-weight: 0;

}
/* ok */
.header {
    background-size: cover;
    background-position: 50%;
    padding: 1rem;
}

.barraandiconuser {
    display: flex;
}

.barra {
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.iniciarsesion {
    display: flex;
    width: 75%;

}

.linkiniciarsesion {
    float: right;
}

.linkiniciarsesion a:hover {
    color: blue;
}


.navegacion {
    margin-top: 5rem;
    margin-left: 1rem;
    display: flex;
    gap: 2rem;
}

.inputbuscador {
    width: 2rem;
    height: 2rem;
    padding: 10px;
    border: none;
    color: rgb(44, 44, 44);
    background-color: white;
    border-radius: 5px;
}

@media (min-width: 769px) {
    .navegacion {
        margin-top: 0;
    }

    .barraandiconuser {
        display: flex;
    }
}

.navegacion a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 550;
    padding: .5rem;
    transition-property: backgroung-color;
    transition-duration: 0.3s;
}

.navegacion a:hover {
    color: rgb(73, 132, 241);
}

.divdivbuscador {
    width: 80%;
    display: flex;
    margin-right: 6rem;
    justify-content: flex-end;
    margin-left: 1rem;
}

.divbuscador input {
    width: 16rem;
    height: 2rem;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.divbuscador input::-webkit-inner-spin-button,
.divbuscador input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width:769px) {
    .menuContainer {
        flex-direction: column;
    }

    .container1 {
        margin-inline: 5%;
        margin-block: 1%;
    }

    .container2 {
        flex-direction: column;
        gap: 10%
    }

    .barraandiconuser {
        justify-content: center;
    }

    .iniciarsesion {
        width: 100%;
    }

    .divbuscador {
        width: 100%;
    }
}