@font-face {
    font-family: 'MiFuenteNanum';
    src: url('/fonts/NanumGothic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.inforuser{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.divinfouser {
    border: 1px solid rgb(90, 90, 90);
    background-color: rgba(240, 240, 243, 0.3);
    color: rgb(20, 20, 20);
    width: 50%;
    border-radius: 5px;
    padding: 1rem;
}

.divinfouser h3 {
    margin-bottom: 5px;
}

.divinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.lista {
    width: 50%;
}
.lista h3{
    color: rgb(20, 20, 20);
}
.divinforeservation {
    border: 1px solid rgb(114, 113, 113);
    border-radius: 5px;
    background-color: rgba(240, 245, 245, 0.6);
    padding: 1rem;
    color: black;
    margin-bottom: 2rem;
}
.divinfouser span {
    color: rgb(27, 27, 27);
}
.divinforeservation span {

    color:  rgb(30, 30, 31);
}
.divinforeservation {
    display: flex;
}
.divinformacion {
    text-align: justify;
    width: 70%;
}
.divbutton {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    color: rgb(189, 192, 194);
    padding: 0.5rem;
    width: 60%;
    border-radius: 5px;
    border: none;
    background-color: #228AFF;
}
.button:hover {
    color: rgb(241, 245, 247);
    cursor: pointer;
    background-color: rgb(71, 71, 230);
}
.buttonlogout {
    margin-top: 10px;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #228AFF;
}

.buttonlogout:hover {
    background-color: rgb(59, 59, 238);
    cursor: pointer;
}


@media (max-width: 600px) {
    .divinfouser {
        width: 100%;
    }
    .lista {
        font-size: 12px;
        width: 100%;
    }
    .divinforeservation {
        display: block;
    }
    .button {
        width: 100%;
    }
    .divbutton{
        color: white;
        margin-top: 1rem;
        width: 100%;
    }
}
@media (max-width: 720px) {
    .divinfouser {
        width: 100%;
    }
    .lista {
        width: 100%;
    }
}
