.title{
    text-align: center;
    color:#607FFE
}
.subtitle{
    margin-bottom: 16px;
    margin-top: 2rem;
    color:rgb(52, 52, 53)
}
.divprincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
/* el color del divform rgb(94, 93, 93, 0.3) */
.divform {
    border: 1px solid rgb(128, 126, 126);
    background-color: white;
    width: 40%;
    border-radius: 10px;
    padding: 1rem;
  
}
.linkregistro {
    display: flex;
    justify-content: center;
    text-align: center;
}

.divform h2 {
    margin-bottom: 2rem;
}
.divform p {
    font-size: 1.2rem;
}
.divform input {
    width: 100%;
    height: 2rem;
}
.divbutton {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divbutton button {
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: #228AFF;
}
.linkr {
    margin-top: 10px;
    color: black;
}
.linkr  span {
    margin-left: 5px;
    color: rgb(73, 73, 230);
}
.inputStyle{
    padding: 10px;
    border-radius: 5px;
    color: black;
    background-color: white;
    border:1px solid #228AFF;
}
.divbutton button:hover {
    background-color: rgb(59, 59, 238);
}

.linkregistro p{
    font-size: 15px;
    margin-right: 10px;
}
.linkregistro a {
    color: rgb(93, 93, 95);
}
.errorlogin p{
    font-size: 15px;
    color: red;
}
.newpassword {
    color: rgb(73, 73, 230);
    font-size: 14px;
}

/* responsive design */
@media (max-width: 600px) {
    .divprincipal {
        width: 100%;
        align-items: center;
       
    }
    .divform {
        background-color: white;
        width: 90%;
        border-radius: 10px;
        padding: 10px;
      
    }

}