.divprincipal {
    display: flex;
    justify-content: center;
    align-items: center;
}
.divcontenedor {
    border-radius: 5px;
    border: 1px solid rgb(94, 93, 93);
    width: 30%;
    margin-top: 2rem;
    padding: 1rem;
}
.h3 {
    color: black;
    margin-bottom: 10px;
}
.p {
    color: black;
}
.input {
    padding-left: 0.3rem;
    margin-top: 4px;
    width: 100%;
    background-color: white;
    height: 30px;
    color: black;
    border-radius: 5px;
    border: 1px solid rgb(64, 64, 228);
}
@media (max-width: 600px) {
    .divcontenedor {
        width: 100%;
    }
}