.divinicial {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divnosotros {
    width: 50%;
    /* text-align: justify; */
}
/* tu color: rgb(45, 46, 45, 0.8) */
.aplicacion{
    padding: 1rem;
    border-radius: 7px;
    background-color: white;
    margin-bottom: 2rem;
}
.empresa {
    color: black;
    padding: 1rem;
    border-radius: 7px;
}
.divaplicacion {
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.divaplicacion h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.divempresa {
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.desarrolladores {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.image {
    margin-top: 15px;
}
.iamgedev {
    border-radius: 10px;
} 
@media (max-width: 700px) {
    .divnosotros {
        width: 90%;
        text-align: justify;
       
    }
    .aplicacion{
        padding: 1rem;
        border-radius: 7px;
        background-color: white;
        margin-bottom: 2rem;
    }
    .divempresa {
        margin-bottom: 0rem;
        margin-top: 0rem;
    }
    .desarrolladores {
        grid-template-columns: 2fr;
    }
    .aboutUs {
        margin-bottom: 2rem;
    }
    .names{
        margin-top: 5%;
    }
}
@media (max-width: 600px) {
    .divnosotros {
        width: 90%;
        text-align: justify;
       
    }
    .aplicacion{
        padding: 1rem;
        border-radius: 7px;
        background-color: white;
        margin-bottom: 2rem;
    }
    .divempresa {
        margin-bottom: 0rem;
        margin-top: 0rem;
    }
    .desarrolladores {
        grid-template-columns: 1fr;
    }
    .aboutUs {
        margin-bottom: 2rem;
    }
    .names{
        margin-top: 5%;
    }
}